Django>=5.0,<6.0
djangorestframework>=3.14.0
django-cors-headers>=4.3.1
python-dotenv>=1.0.1
requests>=2.31.0
djangorestframework-simplejwt>=5.3.0
django-allauth>=0.61.0
django-axes>=6.4.0
dj-database-url>=2.1.0
psycopg2-binary>=2.9.9
argon2-cffi>=23.1.0
stripe>=8.0.0
coverage>=7.4.0
gunicorn>=21.2.0
whitenoise>=6.6.0
