@import "tailwindcss";

@layer utilities {
  .snap-x-mandatory {
    scroll-snap-type: x mandatory;
    -webkit-scroll-snap-type: x mandatory;
  }
  .snap-align-start {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  .snap-y-proximity {
    scroll-snap-type: y proximity;
    -webkit-scroll-snap-type: y proximity;
  }
  .section-snap-start {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
  }
}
